.toggle_button {
  @apply block w-[40px] h-[20px] rounded-2xl relative transition-all duration-200 ease-in-out shadow-inner shadow-sh1 cursor-pointer;
}

.toggle_on .toggle_button::before {
  left: calc(100% - 16px);
}

.toggle_off .toggle_button::before {
  left: 4px;
}

.toggle_button::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #666;
  transition: all 0.2s ease-in-out;
}
