.list_wrapper {
  @apply text-center;
}

.button_wrapper {
  @apply flex justify-center my-4;
}

.nothing {
  @apply text-center text-2xl mt-4;
}

.title {
  @apply text-3xl font-bold text-center mt-4 mb-8;
}

.search_wrapper {
  @apply flex flex-col mb-6 rounded p-2 pt-[90px] mt-[-100px] w-[min(90vw,800px)] m-auto;
  box-shadow: 0px 0px 4px 1px theme(colors.sh1);
}

.toggle_button {
  @apply w-full text-center cursor-pointer font-bold mt-2;
}

.arrow_up {
  @apply inline-block ease-in-out duration-500;
  transform: rotate(0deg);
}

.arrow_down {
  @apply inline-block ease-in-out duration-500;
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .search_wrapper {
    @apply mt-[-100px] z-50;
  }
}
