.card {
  @apply shadow-sh1 w-[calc(min(450px,40vw))] min-h-[calc(min(300px,80vw))] shadow-sm duration-200 rounded-xl dark:bg-dbg3;
  box-shadow: 0px 0px 4px 1px theme(colors.sh1);
  animation: shadow-animation 5s infinite alternate ease-in-out;
}

@keyframes shadow-animation {
  10% {
    box-shadow: 0px 0px 12px 1px theme(colors.sh1);
  }
  20% {
    box-shadow: 0px 0px 4px 1px theme(colors.sh1);
  }
}

.card:hover {
  @apply m-0 p-0;
  box-shadow: 0px 0px 12px 1px theme(colors.sh1);
}

.card-image {
  @apply absolute object-cover rounded-xl;
}

.card-content {
  @apply relative bottom-0  p-6 rounded-xl;
}

.card-title {
  @apply font-bold text-2xl mb-2;
}

.card-description {
  @apply text-base mb-4;
}

.card-tags {
  @apply flex flex-wrap text-sm mb-4;
}

.card-tag {
  @apply mr-2 shadow-sm shadow-sh1 p-2 rounded-full;
}

.card-readmore {
  @apply font-semibold text-base;
}

@media (max-width: 768px) {
  .card {
    @apply w-[calc(min(300px,80vw))] h-auto;
  }
}
