.table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 24px;
}

.row {
  @apply flex flex-wrap justify-center;
}

.cell {
  @apply inline-flex max-w-[48%] p-2;
}

.dummy {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 768px) {
  .row {
    display: flex; /* 1列表示に変更 */
    flex-direction: column;
  }
  .cell {
    @apply max-w-[100%];
  }

  .dummy {
    display: none; /* ダミーを非表示 */
  }
}
