.header {
  @apply fixed text-xl w-full z-20 duration-500 border-b-2 border-sh1 mt-[-2px];
}

.wrapper {
  @apply px-4 flex max-w-[1024px] m-auto justify-between mt-[20px];
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade_out {
  animation: fadeOut 0.2s linear;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade_in {
  animation: fadeIn 0.2s linear;
  animation-fill-mode: forwards;
}

.head_name {
  @apply text-2xl font-bold rounded-lg overflow-hidden p-2 pl-6;
}

.button_wrapper {
  @apply flex justify-end m-2;
}

.button_wrapper {
  @apply flex justify-center m-2;
}

.wrapper {
  @apply m-auto p-3;
}

.header_content {
  @apply flex flex-col justify-center mt-[-330px] duration-300;
}

.head_open {
  @apply m-0 duration-300 mt-[-55px];
}

.ham_menu {
  @apply relative w-[25px] cursor-pointer z-10 mt-4 mr-6;
}

.ham_menu i {
  @apply block absolute h-[3px] w-full rounded-full opacity-100 left-0 rotate-0 transition duration-300 ease-in-out;
}

.ham_menu i:nth-child(1) {
  @apply top-0;
}

.ham_menu i:nth-child(2) {
  @apply top-[8px];
}

.ham_menu i:nth-child(3) {
  @apply top-[16px];
}

.ham_menu i.open:nth-child(1) {
  @apply top-[8px];
  transform: rotate(45deg);
}

.ham_menu i.open:nth-child(2) {
  @apply opacity-0;
}

.ham_menu i.open:nth-child(3) {
  @apply top-[8px];
  transform: rotate(-45deg);
}

/* Hamburger Menu */
@media (max-width: 768px) {
  .head_name {
    @apply text-xl font-bold pl-[5vw] py-0;
  }
  .ham_menu {
    @apply mt-[5px] mr-[5vw];
  }
  .head_open {
    @apply mt-[-45px];
  }
}
