.icon {
  @apply inline rounded-full max-h-[160px] max-w-[160px] w-[40vw] h-[40vw] m-auto;
  animation: ping 4s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  0% {
    box-shadow: 0 0 5px 5px theme(colors.sh1);
  }
  25% {
    box-shadow: 0 0 5px 20px rgba(0, 0, 0, 0);
  }
}

.wrapper {
  @apply flex duration-200 rounded-xl justify-center p-10;
  box-shadow: 0px 0px 6px 1px theme(colors.sh1);
}

.top_wrapper {
  @apply flex justify-center pt-8 m-auto;
}

.icon_wrapper {
  @apply flex justify-center my-4;
}

.sub_wrapper {
  @apply flex justify-center;
}

.detail {
  @apply w-full mt-6 duration-200 rounded-xl justify-center p-6 px-12;
  box-shadow: 0px 0px 6px 1px theme(colors.sh1);
}

.add_margin {
  @apply m-3;
}

.top_profile {
  @apply px-10;
}

.top_profile h2 {
  @apply text-2xl font-bold my-5;
}

.top_profile p {
  @apply text-xl;
}

.name {
  @apply text-2xl font-bold m-5;
}

.profile {
  @apply flex flex-col items-center;
}

.profile h3 {
  @apply text-xl pb-4;
}

@media (max-width: 768px) {
  .top_wrapper {
    @apply flex flex-col justify-center;
  }

  .sub_wrapper {
    @apply flex flex-col justify-center;
  }

  .add_margin {
    @apply m-0;
  }
}
