.icon {
  @apply inline rounded-full max-h-[160px] max-w-[160px] w-[40vw] h-[40vw] m-auto;
  box-shadow: 0 0 10px 10px theme(colors.sh1);
  animation: ping 4s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  0% {
    box-shadow: 0 0 5px 5px theme(colors.sh1);
  }
  25% {
    box-shadow: 0 0 5px 20px theme(colors.bg3);
  }
  100% {
    box-shadow: 0 0 5px 5px theme(colors.bg3);
  }
}

.wrapper {
  @apply flex shadow-sh1 shadow-md bg-bg1 duration-200 rounded-xl justify-center p-10 bg-gradient-to-l from-bg2 to-bg1 bg-opacity-100;
}

.top_wrapper {
  @apply inline-flex justify-between;
}

@media (max-width: 800px) {
  .top_wrapper {
    @apply flex flex-col justify-center;
  }
}

.sub_wrapper {
  @apply w-full shadow-sh1 shadow-md bg-bg1 duration-200 rounded-xl justify-center py-10 bg-opacity-30;
}

.top_profile {
  @apply px-10;
}

.top_profile h2 {
  @apply text-2xl font-bold my-5;
}

.top_profile p {
  @apply text-xl;
}

.name {
  @apply text-2xl font-bold m-5;
}

.profile {
  @apply flex flex-col items-center m-3;
}
