.wrapper {
  @apply flex justify-between duration-200 rounded-xl bg-gradient-to-l dark:from-bg1 dark:to-bg2 mb-8 text-left;
  box-shadow: 0px 0px 4px 1px theme(colors.sh1);
}

.wrapper:hover {
  box-shadow: 0px 0px 12px 1px theme(colors.sh1);
}

.wrapper h2 {
  @apply text-2xl font-bold mb-4;
}

.wrapper p {
  @apply text-base;
}

.readmore {
  @apply font-semibold text-base my-2;
}

.image {
  @apply object-cover h-[150px] rounded-r-xl opacity-80;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

@media (max-width: 768px) {
  .wrapper {
    @apply flex flex-col;
  }

  .image {
    @apply m-0 rounded-none rounded-b-xl h-[250px];
  }
}
